# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------
# Виртуальные окружения
# -----------------------
venv/
env/
ENV/
.env/
.venv/
.env
.env.*
**/.env
**/.env.*

# -----------------------
# Pytest
# -----------------------
.pytest_cache/
.cache/

# -----------------------
# Отчёты тестов
# -----------------------
*.log
*.xml
*.json
*.html
htmlcov/
coverage/
reports/

# -----------------------
# IDE и редакторы
# -----------------------
.vscode/
.idea/
*.iml

# -----------------------
# OS файлы
# -----------------------
.DS_Store
Thumbs.db